body {
	overflow-x: hidden;
}

@media screen and (max-width: 480px) {
	.icwm {
		max-width: 100%;
	}
	#section-1-button-div {
		text-align: center;
	}
	.section-1-button {
		margin: 0px;
	}
	.section-1-p {
		margin: 0;
		text-align: center;
		padding-bottom: 30px;
	}
	.section-1-h1 {
		margin: 0;
		text-align: center;
		font-size: 24px;
		padding-bottom: 20px;
		position: static;
	}
	.section-4 {
		width: auto;
		max-width: 100%;
	}
	.section-4 .row1, .section-4 .row2, .section-4 .row3 {
		position: static;
		margin: 0;
		width: auto;
	}
	.row3 .row3-text {
		margin: 0;
		padding-top: 10px;
	}
	p.moreclarity, .section-4 p {
		text-align: center;
		margin: 0;
		padding: 0;
		padding-bottom: 100px;
		position: static;
	}
	.section-3-button {
		margin: 0;
		margin-top: 30px;
	}
	.section-4 .row2-text {
		width: 80%;
		text-align: right;
	}
	.section-4 .r2-image {
		padding: 0;
		float: right;
		transform: translate(-18px, -26px);
	}
	.section-4 .r3-image {
		float: left;
	}
	.section-2-button {
		max-width: 100%;
		font-size: 18px;
		padding: 10px 20px;
		height: auto;
		width: auto;
	}
	.line-left {
		width: 80%;
		margin: auto;
	}
	.line-right {
		width: 80%;
		margin: auto;
	}
}
