.container.section-3 {
		background-image: url(../images/bg-gradient-gray.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding-bottom: 260px;
}
.container.section-3{
		clear: both;
		margin-top: 150px;
		margin-bottom: 30px;
		float: left;
		width: 100%;
		margin-top: -50px;
}

.slice{
		width:238px;
		height:544px;
		overflow:hidden;
		position: relative;
}

.slice img {
		position: absolute;
}

.right-half {
		position: absolute;
		right: 0;
}

.bottom {
	float:right;

}
/*circles*/
.circles {
		border: 2px solid #a1a1a1;
		padding: 13px 30px;
		background: #dddddd;
		width: 1px;
		height: 63px;
		border-radius: 100px;
		transform: scale(0.5, 0.5);
}



@media screen and (max-width: 991px) and (min-width: 768px){
.col-md-4.foryou {
 float: right;
}
.box.clearfix {
		float: right;
}
.slice.right-slice {
		margin-left: 66%;
		/* overflow-x: hidden; */
}
.slice {
		width: 238px;
		height: 544px;
		overflow: hidden;
		position: relative;
		/* float: right; */
		margin-left: 0px;
}
.slice img {
		height: 100%;
		position: absolute;
}
.bottom {
		float: left;
}
.right-half {
		position: absolute;
		right: 0;
}
}


/*For Desktop*/
.container.maindiv{
	margin-top: 60px;
}

.phnimg{
		 width: 200px;
		height: 150px;
		overflow: hidden;
}

.upperh3{
	padding-top: 11px;
font-size: 20px;
font-weight: 600;

}
body {
		font-family: 'Open Sans', sans-serif;
}
.icwm{
width: 111%;
float: right;
margin-right: -65px;

}

.butwhy{
	font-size: 72px;
		color:#4A4A4A;
}
h1.butwhy {
		font-size: 50px;
		margin-top: 190px;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 48px;
		font-weight: 800;
		line-height: 65px;
}
.row1 {
		padding-top: 40px;
}

.split_screen{
	padding-top: 40px;
	margin-left: -37px;
}
.foryou{
		text-align: right;
		padding-top: 58px;

}
.col-md-4.firstcol1 {
		text-align: left;
		padding-top: 58px;
}
.blueboldtext {
		color: #0D60D6;
		font-size: 32px;
		font-weight: 600;
		margin-right: -90px;
		float: right;
}
.blueboldtext2{
	color:#0D60D6;
		font-size: 32px;
	font-weight: 600;
	margin-left: -24px;
}



img.for-your-user{
	width: 10%;
}

.col-md-12.circle1 {
		padding-top: 4px;
		padding-left: 72px;
		margin-left: 55px;
		text-align: right;
}
.col-md-12.circle2 {
		padding-top: 31px;
		margin-left: 35px;
		margin-left: 38px;
		text-align: right;
}
.col-md-12.circle3 {
		padding-top: 55px;
		margin-left: 67px;
		text-align: right;
}
.col-md-12.circle1r {
		margin-top: 10px;
		margin-left: 24px;
		padding-right: 21px;
}

.col-md-12.circle2r {
		margin-left: 37px;
		margin-top: 29px;
		padding-right: 7px;
}
.col-md-12.circle3r {
		margin-left: 11px;
		margin-top: 50px;
}
p.pgap {
		margin: -12px 1px 11px;
		opacity: 0.5;
		color: #000000;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
}
.for-you {
		padding-top: 72px;
}
/*.for-you .circle1 {
	padding-left: 40px;
}
.for-you .circle3 {
	padding-left: 40px;
}*/
.for-your-user {
		padding-top: 74px;
}
img.for-your-user1 {
		width: 10%;
}
/*.for-your-user .circle1r {
	margin-left: -15px;
}
.for-your-user .circle2r {
	margin-left: 20px;
}
.for-your-user .circle3r {
	margin-left: -15px;
}*/
.desktop {
	display: block;
}
.mobile {
	display: none;
}

/*For Mobiles*/
@media screen and (max-width: 991px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile .mobile__block_1 {
		float: right;
		width: auto;
	}
	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 95px;
	}
	.mobile .mobile__block_1 .block__content .circle1 {
		padding-top: 20px;
	}
	.mobile .mobile__block_1 .block__content .circle2 {
		padding-top: 50px;
	}
	.mobile .mobile__block_1 .block__content .circle3 {
		padding-top: 55px;
	}
	.mobile .mobile__block_1 .half-img-1 {
		float: right;
		width: 250px;
		max-width: 50%;
	}
	.mobile .mobile__block_1 .half-img-1 img {
		width: 100%;
		height: auto;
	}

	.mobile .mobile__block_2 {
		width: auto;
		float: left;
	}
	.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 78px;
	}
	.mobile .mobile__block_2 .block__content .circle1r {
		padding-top: 10px;
	}
	.mobile .mobile__block_2 .block__content .circle2r {
		padding-top: 20px;
	}
	.mobile .mobile__block_2 .block__content .circle3r {
		padding-top: 55px;
	}

	.mobile .mobile__block_2 .half-img-2 {
		float: left;
		width: 250px;
		max-width: 50%;
	}
	.mobile .mobile__block_2 .half-img-2 img {
		width: 100%;
		height: auto;
	}

	.mobile .half-img-1 {
		/*float: right;*/
	}
	.mobile .half-img-2 {
		/*float: left;*/
	}
}


/*media Qs*/

@media screen and (min-width: 1400px) and (max-width: 1920px){
.icwm{
width: 111%;
float: right;
margin-right: -65px;

}
	.for-your-user {
		padding-top: 124px;
}
	p.pgap {
		margin: -12px 1px 11px;
		font-size: 12px;
}
	.blueboldtext {
		font-size: 32px;
}
	.blueboldtext2 {
		font-size: 32px;
}
.for-you {
		padding-top: 120px;
}
.upperh3 {
		padding-top: 15px;
		font-size: 15px;
		font-weight: 600;
}
.col-md-12.circle1 {
		padding-top: 65px;
		padding-left: 72px;
		margin-left: 52px;
		text-align: right;
}
.col-md-12.circle2 {
		padding-top: 119px;
		margin-left: 14px;
		text-align: right;
}
.col-md-12.circle3 {
				padding-top: 113px;
		margin-left: 60px;
		text-align: right;
}
img.for-your-user1 {
		width: 7%;
}


.col-md-12.circle2r {
		margin-top: 115px;
		padding-right: 7px;
}
.col-md-12.circle3r {
		margin-top: 115px;
}
	.col-md-12.circle1r {
		margin-top: 65px;
		 margin-left: 0px;
		 padding-right: 0px;
}


}

}
@media screen and (min-width: 1201px) and (max-width: 1365px){

}

@media screen and (max-width: 1200px) and (min-width: 992px){
.icwm{
width: 111%;
float: right;
margin-right: -65px;

}
	.for-your-user {
		padding-top: 35px;
}
	p.pgap {
		margin: -12px 1px 11px;
		font-size: 12px;
}
	.blueboldtext {
		font-size: 32px;
}
	.blueboldtext2 {
		font-size: 32px;
}
.for-you {
		padding-top: 33px;
}
.upperh3 {
		padding-top: 15px;
		font-size: 15px;
		font-weight: 600;
}
.col-md-12.circle1 {
		padding-top: 4px;
		padding-left: 72px;
		margin-left: 52px;
		text-align: right;
}
.col-md-12.circle2 {
		padding-top: 20px;
		margin-left: 35px;
		margin-left: 35px;
		text-align: right;
}
.col-md-12.circle3 {
		padding-top: 40px;
		margin-left: 61px;
		text-align: right;
}

}

@media screen and (max-width: 991px) and (min-width: 768px){
	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 71px;
}
.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 78px;
}
.for-your-user {
		padding-top: 0px;
}
.blueboldtext {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
		float: none;
}
.blueboldtext2 {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
	}
}
@media screen and (max-width: 767px) and (min-width: 481px){

	.split_screen {
		padding-top: 40px;
		margin-left: 0px;
}

	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 71px;
}
.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 78px;
}
.for-your-user {
		padding-top: 0px;
}
.blueboldtext {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
		float: none;
}
.blueboldtext2 {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
	}


}


@media screen and (max-width: 767px) and (min-width: 481px){
	.col-md-12.circle1r {
		margin-top: 10px;
		padding-right: 21px;
	}
	.col-md-12.circle2r {
		margin-top: 22px;
		padding-right: 7px;
	}
	.col-md-12.circle3r {
		margin-top: 20px;
	}
	.col-md-12.circle1r {
		margin-top: 10px;
		margin-left: 20px;
		padding-right: 0px;
	}
	.split_screen {
		padding-top: 40px;
		margin-left: 0px;
	}
	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 71px;
	}
	.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 78px;
	}
	.for-your-user {
		padding-top: 0px;
	}
	.blueboldtext {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
		float: none;
	}
	.blueboldtext2 {
		color: #0096FF;
		font-size: 30px;
		font-weight: 600;
		margin-left: -24px;
	}
}

@media screen and (max-width: 480px) and (min-width: 319px){
	.blueboldtext {
		color: #0096FF;
		font-size: 20px;
		font-weight: 600;
		float: none;
	}
	.blueboldtext2 {
		color: #0096FF;
		font-size: 20px;
		font-weight: 600;
		margin-left: -24px;
	}
	.upperh3 {
		padding: 11px 0;
		font-size: 12px;
		font-weight: bold;
	}
	p.pgap {
		margin: -12px 1px 11px;
		font-size: 10px;
		line-height: 15px;
	}
	h1.butwhy {
		font-size: 30px;
	}
	.split_screen {
		padding-top: 40px;
		margin-left: 0px;
	}
	.mobile .mobile__block_1 .block__content .circle1 {
		 padding-top: 0px;
	}
	.mobile .mobile__block_1 .block__content .circle3 {
		 padding-top: 0px;
	}
	.mobile .mobile__block_1 .block__content .circle2 {
		padding-top: 0px;
	}
	.mobile .mobile__block_2 .block__content .circle1r {
		 padding-top: 0px;
	}
	.mobile .mobile__block_2 .block__content .circle2r {
		padding-top: 0px;
	}
	.mobile .mobile__block_2 .block__content .circle3r {
		padding-top: 0px;
	}
	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 35px;
	}
	.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 39px;
	}
	.for-your-user {
		padding-top: 0px;
	}
	.col-md-12.circle1r {
		margin-top: 10px;
		margin-left: -8px;

	}
	.col-md-12.circle2r {
		margin-left: 9px;
		margin-top: 23px;

	}
	.col-md-12.circle3r {
		margin-left: -9px;
		margin-top: 26px;
	}

}

@media (max-width: 320px){

	.col-md-12.circle1r {
		margin-top: 10px;
		padding-right: 21px;
	}
	.col-md-12.circle2r {
		margin-top: 22px;
		padding-right: 7px;
	}
	.col-md-12.circle3r {
		margin-top: 20px;
	}
	.blueboldtext {
		color: #0096FF;
		font-size: 20px;
		font-weight: 600;
		float: none;
	}
	.blueboldtext2 {
		color: #0096FF;
		font-size: 20px;
		font-weight: 600;
		margin-left: -24px;
	}
	.upperh3 {
		padding-top: 11px;
		font-size: 10px;
		font-weight: bold;
	}
	p.pgap {
		margin: -12px 1px 11px;
		font-size: 10px;
	}
	h1.butwhy {
		font-size: 30px;
	}
	.split_screen {
		padding-top: 40px;
		margin-left: 0px;
	}
	.mobile .mobile__block_1 .block__content {
		float: right;
		max-width: 50%;
		width: auto;
		padding-top: 0px;
	}
	.mobile .mobile__block_2 .block__content {
		float: left;
		max-width: 50%;
		width: auto;
		padding-top: 0px;
	}
	.for-your-user {
		padding-top: 0px;
	}

}
