@font-face {
	font-family: "Noteworthy-Lt";
	src: url("./fonts/Noteworthy-Lt.ttf");
	src:
	url("./fonts/Noteworthy-Lt.ttf") format("ttf");
}


/* SECTION 1 STARTS  */

.section-1{
	background: url('../images/bg.png');
	background-repeat: no-repeat;
	height: 960px;
	width: 100%;
}

div#section-1-button-div #payment-form{
	float: left;
}

.header{
	margin-top: 20px;
	margin-bottom: 30px;
}

.logo{
	margin-left: 70px;
	width: 200px;
}
button#smooth-scroll-button {
	background-color: #D81B60!important;
}
.section-1 .blog-text {
	font-family: "Open Sans";
	font-size: 28px;
	line-height: 22px;
	color: white;
	margin-right: 101px;
	margin-top: 15px;
	float: right;
}

.section-1-h1{
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 46px;
	line-height: 60px;
	margin: 80px 0px 30px 52px;

}
div#section-1-button-div {
		margin-left: 52px;
}

.section-1-p{
	color: #FFF;
	font-style: italic;
	font-size: 22px;
	margin-left: 52px;
	font-weight: 600;
	margin-bottom: 70px;
}

div#section-1-button-div .stripe-button-el span {
	background: transparent;
	box-shadow: none;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

div#section-1-button-div .stripe-button-el span:focus{
	background-color: #D81B60!important;
}

.section-1-button{
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	height: 70px;
	width: 384px;
	border-radius: 60px;
	background-color: deeppink;
	box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
	outline: none;
	margin-left: 52px;
}

.section-1-arrow {
	height: 50px;
	width: 15%;
	margin-left: 250px;
	margin-top: 15px;
}

.section-1-arrow-text{
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	margin-top: 42px;
	margin-left: 10px;
	color: #FFF;
	font-size: 24px;
}

.section-1-mobile1{
	max-width: 100%;
	margin-top: 186px;
}

.section-1-mobile2{
	max-width: 100%;
	margin-top: 149px;
	width: auto;
	height: auto;
}

/* SECTION 1 ENDS */

/* VIDEO SECTION STARTS */
#video{

	border-radius: 20px;
	background-color: white;
	margin-top: 45px;
}

.video-bg{
	background-image: url(../images/video-shadow.png);
	background-size: 97%;
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 60px;
	text-align: center;
}

.div-video-bg{
	background-image: url(../images/bg-wave.png);
	height: 200px;
	background-size: 100% 100%;
	margin-top: -90px;
}

.h2look{
	font-weight: 600;
}

.video-section h1{
	color: #4A4A4A;	font-family: "Open Sans";
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	text-align: center;
}

.video-section h2{
	color: #000000;
	font-family: "Open Sans";
	font-size: 28px;
	font-weight: 600;
	line-height: 38px;
	margin-top: 80px;

}

.video-section-form input[type="text"] {
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-left-radius: 86px;
	border-top-left-radius: 86px;
	outline: none;
}

.video-section-form button {
	color: #FFFFFF;	font-family: "Open Sans";
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	border-radius: 0 100px 100px 0;
	background-color: #D81B60;
	padding-top: 18px;
	padding-bottom: 19px;
	outline: none;
	border: none;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;

}

.col-md-8.col-md-offset-2.col-sm-8.text-center.video-section-form .col-md-7{
	padding:0;
}

.col-md-8.col-md-offset-2.col-sm-8.text-center.video-section-form .col-md-5{
	padding:0;
}


.video-section-form button:hover{
	background-color: #D81B60!important;
	outline: none!important;
	border: none!important;
}

.video-section-form button:focus{
	background-color: #D81B60!important;
	outline: none!important;
	border: none!important;
}

.video-section-form button:active{
	background-color: #D81B60!important;
	outline: none!important;
	border: none!important;
}

.video-section-form {
	margin-top: 30px;
	margin-bottom: 50px;
}


.video-section-form input[type="text"]{
	padding-left:20px;
	font-size: 20px;
	border: 1px solid #6d6c6c;
}
input#video-email::-webkit-input-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 22px;
	line-height: 24px;
	margin-left: 20px;
}
.video-section-form input::-moz-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 24px;
	margin-left: 20px;
}
.video-section-form input:-ms-input-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 24px;
	margin-left: 20px;
}
#video-email::-webkit-input-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 26px;
	line-height: 24px;
	padding-left: 30px
	margin-left: 20px;
}


/* VIDEO SECTION ENDS */


/* SECTION 2 STARTS */

.section-2{
	clear:both;
	margin-top: 100px;
	float: left;
	width: 100%;
}

.p-section-2{
	margin-top: 140px;
	font-size: 72px;
	padding-bottom: 100px;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-weight: 300;
	line-height: 98px;
}

.section-2 .arrow-img{
	margin-left: -100px;
}

.section-2 .col-md-5 img{
	height: 700px;
	width: 680px;
}

.section-2-h1{
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 48px;
	font-weight: 800;
	line-height: 65px;
	text-align: center;
	margin-bottom: 70px;
}

.form{
	border: 1.5px solid #0D61D2;
	border-radius: 14px;
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.1), 0 0 9px 0 rgba(0,0,0,0.15);
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFF;
}

input.form-control{
	height: 40px;
	width: 224px;
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin-top: 10px;
}

form label{
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}

form .even-form-group{
	padding: 10px;
}

form .odd-form-group{
	padding: 10px 40px;
}


/* Placeholder Text Size   */
::-webkit-input-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 24px;
}
::-moz-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 24px;
}
:-ms-input-placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 24px;
}
::placeholder {
	opacity: 0.33;
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 24px;
}

.line-left{
	height: 1px;
	background: linear-gradient(to right, white 20%, blue 100%);
	margin-top: 20px;

}

.line-right{
	height: 1px;
	background: linear-gradient(to left, white 20%, blue 100%);
	margin-top: 20px;
}

.section-2-p{
	color: #9B9B9B;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
	font-weight: 600;
}

.section-2-revenue{
	color: #311B92;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 55px
}

.stats{
	max-width: 103%;
	display: block;
	height: auto;
}

.text-dollar{
	color: #9B9B9B;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.section-2-button{
	height: 76px;
	width: 393px;
	border-radius: 60px;
	background-color: #D81B60;
	box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
	color: #FFFFFF;
	font-family: Arimo;
	font-size: 24px;
	font-weight: bold;
	margin-top: 25px;
	outline: none;
}
/* SECTION 2 ENDS */


/* SECTION 4 STARTS */
.container-fluid.section-4 .row{
	margin:0 auto;
}
.section-4{
	clear: both;
	margin-top: 200px;
	background: url('../images/bg-right-sticky-clarity.png');
	background-repeat: no-repeat;
	background-position: right;
	margin-bottom: 100px;
}

.section-4 p{
	color: #4A4A4A;
	font-family: "Open Sans", sans-serif;
	font-size: 72px;
	font-weight: 600;
	line-height: 98px;
	padding-bottom: 70px;
}




.row1 .col-md-7{
	margin-top: 20px;
}

.row3 .col-md-7{
	margin-top: 40px;

}

.row2 .col-md-8, .row2 .col-md-1{
	padding-top: 25px;
		padding-bottom: 15px;
}

.col-md-2.col-md-offset-1 {
		/* padding-top: 25px; */
		padding-bottom: 15px;
}

.row2 .col-md-8 .text-clarity-point{
	margin-left: 30px;
}


.row1-img{
	height: 65px;	width: 77px;
	margin-top: 1px;
}

.row3-img{
	height: 65px; width: 77px;
	margin-top: 40px;
}


.row1 {
		background-image: linear-gradient(90deg, #53C2EF, transparent), linear-gradient(90deg, #53c2ef, transparent);
		-moz-background-size: 100% 5px;
		background-size: 65% 1px;
		background-position: 0 0, 0 100%;
		background-repeat: no-repeat;
		border-top-left-radius: 86px;
		border-left: 1px solid #53c2ef;
		border-bottom-left-radius: 86px;
		height: 140px;
		width: 900px;
	}
}

}

.row.row1:after{
	position: relative;
	content: '';
	bottom: 3px;
	left: 80%;
	width: 66px;
	height: 3px;
	right: 0;
	background: #FFF;
}

.row2{
		background-image: linear-gradient(270deg, #53c2ef, transparent), linear-gradient(270deg, #53c2ef, transparent);
		-moz-background-size: 100% 5px;
		background-size: 100% 1px;
		background-position: 0 0, 0 100%;
		background-repeat: no-repeat;
		border-radius: 86px;
		border-right: 1px solid #53c2ef;
		width: 900px;
}

.row.row2:after{
	position: relative;
	content: '';
	bottom: -2px;
	left: -2%;
	width: 66px;
	height: 3px;
	right: 0;
	background: #FFF;
}


.row3 {
	background-image: linear-gradient(90deg, #53c2ef, transparent), linear-gradient(90deg, #53c2ef, transparent);
	-moz-background-size: 100% 5px;
	background-size: 52% 1px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	border-top: 0;
	border-bottom-right-radius: 0;
	width: 900px;
	border-left: 1px solid #53c2ef;
	border-radius: 86px;
	border-right: 0;
}


.row1 .row1-text{
	margin-left: -40px;
	padding-bottom: 25px;
	margin-top: 1px;
}

.row3 .row3-text{
	margin-left: -40px;
	padding-bottom: 25px;
	margin-top: 35px;
}

.gradient-img{
	height: 450px;
	width: 900px;
}

.section-3-button{
	height: 76px;
	width: 393px;
	border-radius: 60px;
	background-color: #4CAF50;
	box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
	color: #FFFFFF;
	font-family: Arimo;
	font-size: 24px;
	font-weight: bold;
	margin-left: -200px;
	margin-top: 100px;
}

.text-clarity-point{
	height: 75px;
	width: 543px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 27px;

}


/* SECTION 4 ENDS

/* SECTION 5  */
.col-md-4.text-center.autherimage {
		text-align: left;
}
.section-5{
	margin-top: 130px;
	height: 700px;
}

.thumbnail {

		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: left;
}
.thumbnaildates{
	color:#4A4A4A;
	font-size: 14px;
	font-weight: 600;
}
.thumbnailmainheading{
	color:#4A4A4A;
	font-size: 32px;
	font-family: 'Abril Fatface', cursive;

}
.thumbnailsecondheading{
	color:#4A4A4A;
	font-size: 17px;
		font-family: 'Open Sans', sans-serif;

}
.authersname{
	color:#4A4A4A;
	font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		#9B9B9B

}
.businessanalyst{
	color:#9B9B9B;
	font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;

}
strong.more {
		padding-right: 20px;
		font-family: 'Open Sans', sans-serif;

}
.blog{
	font-size: 72px;
	font-family: 'Open Sans', sans-serif;
	color:#4A4A4A;
}

/* SECTION 5 ENDS */

/* SECTION 6 STARTS */

button.stripe-button-el{
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	width: auto;
	border-radius: 60px;
	background: #D81B60;
	box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
	margin-top: 10px;
	outline: none;
	border: 0;
	padding: 12px 48px;
}

#payment-form button.stripe-button-el:focus, .section-2-bottom button.stripe-button-el:focus{
	background-color: #D81B60!important;
}

#payment-form .stripe-button-el:not(:disabled):active span, .section-2-bottom .stripe-button-el:not(:disabled):active span{
	background-color: #D81B60!important;
	box-shadow: none;
	background-image: none;
}



#payment-form button.stripe-button-el span, .section-2-bottom button.stripe-button-el span {
	background: transparent;
	font-size: 20px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif;
}

.modal-form1{
	margin: 40px auto;
}

div.bg-ground{
	background: linear-gradient(to bottom, #0090f5 88%, #3977d8 81%);

	opacity: 1.9;
	/*z-index: -10;*/

}

div.bg-ground-1{
	/*background-image: url("assets/img/bg-footer.png");  */
	background: url('../images/bg-footer.png');
	padding-top: 48%;
	background-repeat: no-repeat;
	background-position: 143% 44%;
	opacity: 1;
 /* z-index: 99999;*/

	}

div.div-text {
		padding-bottom: 10%;
}
.text-center{

	background-size: 100% 100%;
}

.wtext1{
	color:#FFFFFF;
	margin-top: -40%;
	font-family: "Open Sans";
	font-size: 41px;
	font-weight: 800;
	line-height: 70px;
}
.wtext2{
	color:white;
	font-family: "Open Sans";
	font-size: 28px;
	font-style: italic;
	font-weight: 600;
	line-height: 45px;
}
.fottrtext{
	color:white;
	margin-top: -66px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

/* SECTION 6 ENDS */


/* MODAL STARTS*/

.modal-content {
		width: 90%;
		margin: 0 auto;
		height: auto;
}

.modal-logo{
	height: 40px;
	width: 120px;
}

.modal-header{
	border-bottom: none;
}

.modal-header .close{
	font-size: 50px;
	margin-top: 3px;
}

.modal-header-p{
	font-size: 30px;
	font-weight: bold;

}

.modal-body input{
	border: 0;
	outline: 0;
	background: transparent;
	margin-left: 10px;
	width: 350px;
	padding: 15px;
}

.modal-form{
	margin-left: 50px;
}

.modal-icon{
	border-bottom: 1px solid #D3D3D3;
	color: gray;
}

.modal-footer {
		border: none;
		text-align: center;
		margin-bottom: -15px;
}

.modal-footer-p{
	margin-top: 100px;
}

.paypal-footer {
		background-color: #0D61D2;
		/* height: 82px; */
		padding: 20px 0px;
		margin-left: -15px;
		margin-right: -14px;
		color: white;
		font-size: 30px;
}

.paypal-footer.text-center button {
		font-size: 30px;
		color: white;
		padding: 20px 20px;
		background-color: #0D61D2;
		border: none;
}


.paypal-footer img{
	height: 50px;
	width: 80px;
}

form#payment-form{
	text-align: center;
}


/********************* MEDIA QUERIES ************************/
@media screen and (min-width: 1400px) and (max-width: 1920px){
	.video-section-form input[type="text"]{
		width: 155%;
	}
	.section-1{
		background-size:100% 100%;

	}
	.section-1-mobile1{
		margin-top: 201px;
	}
	.section-1-mobile2 {
		max-width: 100%;
		margin-left: -182px;
		margin-top: 152px;
	}
	.section-1-arrow-text {
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		margin-left: 10px;
		color: #FFF;
		font-size: 24px;
	}
	.section-1-arrow {
		height: 50px;
		width: 85px;
		margin-left: 200px;
		margin-top: 15px;
	}

}

/**
 * Media Query
 */
@media screen and (min-width: 1201px) and (max-width: 1365px){

	/*SECTION 2*/
	input.form-control{
		width: 100%;
	}
	form label{
		font-size: 12px;
	}
	form .odd-form-group{
		padding: 10px;
	}


	/* SECTION 4 */
	.gradient{
		margin-left: -100px;
	}
	.text-clarity-point{
		font-size: 14px;
		line-height: 25px;
	}

}

@media screen and (min-width: 1201px) and (max-width: 1365px){

	/*SECTION 2*/
	input.form-control{
		width: 100%;
	}
	form label{
		font-size: 12px;
	}

	form .odd-form-group{
		padding: 10px;
	}

	/* SECTION 4 */
	.gradient{
		margin-left: -100px;
	}
	.text-clarity-point{
		font-size: 14px;
		line-height: 25px;
	}

}


/* start of media queries (1200 -992px) */

@media screen and (max-width: 1200px) and (min-width: 992px){
	/*VIDEO SECTION*/
.video-section h1 {
	 font-size: 35px;
}
.video-section h2 {
	font-size: 20px;
		 margin-left: 1px;
}
/* SECTION 1*/

.section-1-h1{
	font-size: 50px;
}

/* SECTION 2 */
.section-2 .col-md-5 img{
	height: 700px;
	width: 500px;
}

input.form-control{
	width: 100%;
}

form label{
	font-size: 12px;
}

form .odd-form-group{
	padding: 10px;
}

/* Placeholder Text Size   */
::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 24px;
}
::-moz-placeholder {
	font-size: 14px;
	line-height: 24px;
}
:-ms-input-placeholder {
	font-size: 14px;
	line-height: 24px;
}
::placeholder {
	font-size: 14px;
	line-height: 24px;
}

.section-2-p{
	font-size: 14px;
}

/*SECTION 4*/

.section-4{
	background: none;
}

.gradient{
	margin-left: -200px;
}

.section-4{
	margin-left: 50px;
	width: 800px;
	text-align: center;
}

.text-clarity-point{
	font-size: 14px;
	line-height: 25px;
}
.fottrtext{
	margin-top: 0px;
}
}


/**
 * start of media queries (991-768px)
 */
@media screen and (max-width: 991px) and (min-width: 768px){
	/**
	 * VIDEO SECTION
	 */
	.video-section h1 {
		 font-size: 35px;
	}
	video {
			width: 90%;
			border-radius: 20px;
			background-color: white;
			margin-top: 45px;
	}
	.video-section h2 {
			 font-size: 17px;
			 margin-left: 1px;
	}
	.video-section-form button{
		font-size: 15px;
	}

	/**
	 * SECTION 1
	 */
	.section-1-h1 {
			font-size: 30px;
	}
	.section-1-p {
			color: #FFF;
			font-style: italic;
			font-size: 16px;
			margin-left: 52px;
			font-weight: 600;
			margin-bottom: 70px;
	}
	.section-1-button {
			color: #FFFFFF;
			font-family: 'Arimo', sans-serif;
			font-size: 15px;
			font-weight: bold;
			line-height: 28px;
			text-align: center;
			height: 70px;
			width: 295px;
			border-radius: 60px;
			background-color: deeppink;
			box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
			outline: none;
			margin-left: 52px;
	}
	.section-1-arrow {
			height: 36px;
			width: 61px;
			margin-left: 250px;
			margin-top: 15px;
	}
	.section-1-arrow-text {
			font-family: 'Open Sans', sans-serif;
			position: absolute;
			margin-top: 50px;
			margin-left: 10px;
			color: #FFF;
			font-size: 24px;
			font-size: 17px;
	}



	/*SECTION 2 */

	.p-section-2{
		font-size: 60px;
	}

	.img-estimation{
		display: none;
	}

	input.form-control{
		width: 100%
	}

	form{
		margin: 0px -6px;
	}

	form label{
		font-size: 10px;
	}

	form .odd-form-group{
		padding: 10px;
	}

	/* Placeholder Text Size   */
	::-webkit-input-placeholder {
		font-size: 14px;
		line-height: 24px;
	}
	::-moz-placeholder {
		font-size: 14px;
		line-height: 24px;
	}
	:-ms-input-placeholder {
		font-size: 14px;
		line-height: 24px;
	}
	::placeholder {
		font-size: 14px;
		line-height: 24px;
	}

	.section-2-p{
		font-size: 13px;
	}


	.section-2-button{
		height: 50px;
		width: 300px;
		font-size: 18px;
	}

	/* SECTION 4 */
	.section-3-button {
			height: 76px;
			width: 305px;
			border-radius: 60px;
			background-color: #4CAF50;
			box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
			color: #FFFFFF;
			font-family: Arimo;
			font-size: 17px;
			font-weight: bold;
			margin-left: 80px;
			margin-top: 100px;
	}

	.section-4{
		background: none;
	}

	.gradient{
		margin-left: -200px;
	}

	.gradient-img{
		width: 700px;
	}

	.row1 {
			width: 567px;
			/* text-align: left; */
	}

	.row2{
		width: 622px;
	}

	.row3{
		width: 536px;
		text-align: left;
	}

	.row1 .row1-text {
			margin-left: 23px;
			margin-top: 1px;
	}

	.row1-img {
			height: 50px;
			width: 60px;
	}

	.row2-img {
			height: 50px;
			width: 60px;
			margin-top: -80px;
			margin-left: 46px;
	}

	.row3-img {
			height: 50px;
			width: 65px;
	}

	.section-4{
		margin-left: 50px;
		width: 600px;
		text-align: center;
	}

	.text-clarity-point{
		font-size: 12px;
		line-height: 25px;
	}

	.row2 .col-md-8 .text-clarity-point {
			margin-left: 73px;
	}

	.col-md-8.col-md-offset-2.text-right{
		text-align: center;
	}

	.section-4 p{
		font-size: 40px;
	}

	.row1-img {
			height: 50px;
			width: 60px;
	}



	.row3-img {
			height: 50px;
			width: 65px;
	}

	.row3 .row3-text {
			margin-left: 40px;
			margin-top: 35px;
	}

	.row1{
		text-align: left;
	}

	.row3{
		text-align: left;
		width: 536px;
	}

	.row2{
		width: 622px;
	}

	/* SECTION 5 */

	.wtext1{
		font-size: 50px;
	}

	.wtext2{
		font-size: 16px;
		line-height: 35px;
	}

	.bg-ground .btn{
		font-size: 16px;
	}

	/* SECTION 6 */

	.fottrtext{
		margin-top: 0px;
	}


	div#section-1-button-div button.stripe-button-el{
		width: auto;
	}

	div#section-1-button-div button.stripe-button-el span{
		font-size: 20px;
	}
}


 /* start of media queries (767-481px) */

@media screen and (max-width: 767px) and (min-width: 481px){

	/*VIDEO SECTION*/

	.container-fluid.video-section {
		margin-top: -100px;
	}

	.video-section h1 {
		font-size: 35px;
	}
	video {
		width: 90%;
		border-radius: 20px;
		background-color: white;
		margin-top: 45px;
	}

	.video-section-form input[type="text"] {
		width:70%;
		border-bottom-left-radius: 86px;
		border-top-left-radius: 86px;
		border-top-right-radius: 86px;
		border-bottom-right-radius: 86px;
	}

	.video-section-form button {
		color: #FFFFFF;  font-family: "Open Sans";
		font-size: 15px;
		line-height: 33px;
		text-align: center;
		border-radius: 100px 100px 100px 100px;
		background-color: #D81B60;
		padding-top: 15px;
		padding-bottom: 14px;
		margin-top: 20px;
		margin-left: -40px;
		width: 50%;
	}

	.video-section h2 {
		font-size: 15px;
		margin-left: 1px;
	}
	.modal-form{
		display: block;
	}

	.modal-content {
		width: 70%;
		height: 828px;
	}

	.modal-icon{
		width: 90%;
	}

	.logo {
		width: 20%;
	}

	.blog-logo{
		margin-top: 5px;
	}
	div#section-1-button-div {
		margin-left: 0px;
	}
	.section-1 .blog-text {
		font-size: 22px;
	}

	div#section-1-button-div {
		margin-left: 0px;
	}

	.section-1-h1 {
		font-size: 18px;
		margin: 30px 150px 50px 150px;
		margin-left: 15px;
		position: relative;
		left: 14%;
		text-align: center;
	}
	.section-1-p {
		color: #FFF;
		font-style: italic;
		font-size: 17px;
		margin-left: 52px;
		font-weight: 600;
		margin-bottom: 70px;
		text-align: center;
	}
	div#section-1-button-div {
		margin-left: 0px;
	}

	.section-1-button{
		height: 50px;
		width: 300px;
		font-size: 20px;
	}
	div#section-1-button-div {
		text-align: center;
	}

	.mobile-img{
		height: 250px;
		margin-left: 50px;
	}
	.section-1-mobile2 {
		margin-top: 20px;
		width: 40%;
		margin-left: 180px;
		max-width: 100%;
	}
	/* SECTION 2 */

	.p-section-2{
		font-size: 40px;
		margin-top: 90px;
	}

	.section-2-h1{
		font-size: 30px;
		margin-top: -40px;
	}

	.section-2-button{
		height:50px;
		width: 300px;
		font-size: 18px;
	}

	.img-estimation{
		display: none;
	}

	.line-left{
		display: none;
	}

	.line-right{
		display: none;
	}

	input.form-control{
		width: -webkit-fill-available;
	}

	form .even-form-group{
		margin-left: 1px;
	}

	form .odd-form-group{
		padding: 10px 10px;
	}

	form .estimate-btn{
		margin-left: -150px;
	}

	.section-2 .arrow-img{
		display: none;
	}

	/* SECTION 4 */
	p.moreclarity {
		padding-left: 188px;
		font-size: 20px;
	}

	.section-4{
		background: none;
	}

	.gradient{
		margin-left: -300px;
	}

	.gradient-img{
		width: 400px;
	}

	.section-4{
		margin-left: 1px;
		width: auto;
		text-align: center;
	}

	.row1 {
		width: 400px;
		text-align: left;
		margin-top: -50px;
	}

	.row2 {
		width: 400px;
	}
	.row3 {
		width: 400px;
		text-align: left;
	}

	.row1 .row1-text {
		margin-left: 54px;
		margin-top: -74px;
	}

	.row3 .row3-text {
		margin-left: 67px;
		margin-top: -68px;
	}

	.row1-img {
		height: 38px;
		width: 44px;
		padding-top: 6px;
	}

	.row2-img {
		height: 37px;
		width: 40px;
		margin-top: -32px;
	}

	.row3-img {
		height: 37px;
		width: 62px;
	}

	.text-clarity-point{
		font-size: 12px;
		line-height: 25px;
	}

	.col-md-8.col-md-offset-2.text-right {
		text-align: center;
		padding-right: -73px;
		margin-right: 23px;
	}

	.section-4 p {
	    color: #4A4A4A;
	    font-family: "Open Sans";
	    font-size: 48px;
	    font-weight: 800;
	    line-height: 65px;
	}

	/* SECTION 5 */
	.thumbnailmainheading{
		line-height: 37px;
		font-size: 24px;
	}

	.section-5{
		height: 500px;
	}

	/* SECTION 6 */
	.wtext1 {
		color: #FFFFFF;
		margin-top: -38%;
		font-size: 30px;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
	}

	.wtext2{
		font-size: 14px;
		line-height: 37px;
	}

	.fottrtext{
		margin-top: 0px;
	}

	.fottrtext h5{
		font-size: 12px;
	}

	div#section-1-button-div button.stripe-button-el{
		width: auto;
	}

	div#section-1-button-div button.stripe-button-el span{
		font-size: 20px;
	}

	div#section-1-button-div{
		margin-left: 0px;
	}
}


 /* start of media queries (480-320px) */

@media screen and (max-width: 480px) and (min-width: 320px){
	.block__content .row { margin: 0 !important; }
	.header {
		margin: 20px auto !important;
		text-align: center;
	}
	.logo {
		width: 200px;
		margin: 0;
	}
	.blog-logo{
		margin-top: 5px;
	}
	.section-1 .blog-text {
		font-size: 22px;
	}
	.section-1-h1{
		font-size: 20px;
		margin: 20px 150px 50px 150px;
	}
	div#section-1-button-div {
		margin-left: 0px;
	}

	.section-1-button{
		height: 50px;
		width: 300px;
		font-size: 20px;
	}

	.mobile-img{
		height: 200px;
		margin-left: 50px;
	}
	/*SECTION 1*/


	/* SECTION 2 */

	.p-section-2{
		font-size: 28px;
		margin-top: 90px;
	}

	.section-2-h1{
		font-size: 20px;
	}

	.img-estimation{
		display: none;
	}

	form .even-form-group{
		margin-left: 1px;
	}

	form .odd-form-group{
		padding: 10px 10px;
	}

	input.form-control{
		width: -webkit-fill-available;
	}

	form{
		margin-left: 10px;
	}

	.line-left{
		display: none;
	}

	.line-right{
		display: none;
	}

	.section-2-button{
		height: 30px;
		width: 240px;
		font-size: 14px;
	}
}

/**
 * Media query for Maximum width of 480px
 */
@media screen and (max-width: 480px){
	/*VIDEO SECTION*/

	div#section-1-button-div{
		margin-left: 0px;
	}

	div#section-1-button-div button.stripe-button-el{
	    color: #FFFFFF;
	    font-family: "Open Sans";
	    line-height: 33px;
	    text-align: center;
	    border-radius: 100px 100px 100px 100px;
	    padding: 7px  21px;
	    height: 50px;
	    width: auto;
	}

	div#section-1-button-div button.stripe-button-el span{
		font-size: 20px;
	}

	.container-fluid.video-section {
		margin-top: -50px;
	}

	.video-section h1 {
		font-size: 30px;
	}
	.section-2-h1 {
   		font-size: 30px;
	}
	video {
		width: 90%;
		border-radius: 20px;
		background-color: white;
		margin-top: 45px;
	}
	.video-section h2 {
		font-size: 12px;
		margin-left: 1px;
		margin-top: 30px;
	}

	.video-section-form input[type="text"] {
		width:80%;
		border-bottom-left-radius: 86px;
		border-top-left-radius: 86px;
		border-top-right-radius: 86px;
		border-bottom-right-radius: 86px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
	}

	.video-section-form button {
		color: #FFFFFF;  font-family: "Open Sans";
		font-size: 12px;
		line-height: 33px;
		text-align: center;
		border-radius: 100px 100px 100px 100px;
		background-color: #D81B60;
		padding-top: 7px;
		padding-bottom: 7px;
		margin-top: 20px;
		margin-left: -20px;
		font-size: 20px;
		height: 50px;
		width: auto;
	}

	/* Placeholder Text Size   */
	::-webkit-input-placeholder {
		opacity: 0.33;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 10px;
		line-height: 24px;
	}
	::-moz-placeholder {
		opacity: 0.33;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 10px;
		line-height: 24px;
	}
	:-ms-input-placeholder {
		opacity: 0.33;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 10px;
		line-height: 24px;
	}
	::placeholder {
		opacity: 0.33;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 10px;
		line-height: 24px;
	}

	.modal-footer-p {
			margin-top: 116px;
	}


	.modal-header-p {
			font-size: 15px;
			font-weight: bold;
	}
	.modal-footer {
			border: none;
			text-align: center;

			padding-right: 14px;
	}
	.modal-body input {
		border: 0;
		outline: 0;
		background: transparent;
		margin-left: 10px;
		width: 193px;
		padding: 15px;
	}

		/*SECTION 1*/
	.section-1 .blog-text {
		font-size: 15px;
		margin-top: 5px;
	}
	.section-1-mobile1 {
		height: 300px;
		margin-top: 29px;
	}
	.section-1-mobile2 {
		margin-top: 50px;
		height: auto;
		width: auto;
	}
	.section-1-h1 {
		text-align: center;
		font-size: 15px;
		margin: 20px 150px 50px 150px;
		margin-left: 15px;
		position: relative;
		left: 20%;
	}
	.section-1-p {
		color: #FFF;
		font-style: italic;
		font-size: 14px;
		margin-left: 52px;
		font-weight: 600;
		margin-bottom: 30px;
		margin-top: -35px;
		line-height: 1.5;
	}
	.section-1-button {
		height: 50px;
		width: 230px;
		font-size: 13px;
		margin-left: 115px;
	}
	.section-1-arrow {
		height: 45px;
		width: 65px;
		margin-left: 100px;
		margin-top: 15px;
	}
	.section-1-arrow-text {
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		margin-top: 30px;
		margin-left: 10px;
		color: #FFF;
		font-size: 16px;
	}

	.section-2-p{
		font-size: 14px;
	}

	input#video-email::-webkit-input-placeholder{
		font-size: 16px;
	}

	.calc {
		margin: 0 auto;
		text-align: center;
	}
	.calc input.form-control {
		width: 100%;
		text-align: center;
	}
	/* SECTION 3 */
	.container.section-3 {
		padding-bottom: 50px !important;
	}
	.block__content {
		padding-left: 20px;
	}
	/*SECTION 4 */
	#payment-form button.stripe-button-el span, .section-2-bottom button.stripe-button-el span{
		font-size: 14px;
	}

	button.stripe-button-el{
		width: auto;
	}
	form .estimate-btn {
		background-color: #4CAF50;
		font-size: 14px;
		padding: 10px 30px;
		border-radius: 30px;
		outline: none;
		margin-right: 106px;
	}
	.section-3-button {
		height: 76px;
		width: 213px;
		border-radius: 60px;
		background-color: #4CAF50;
		box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
		color: #FFFFFF;
		font-family: Arimo;
		font-size: 14px;
		font-weight: bold;
		margin-left: 103px;
		margin-top: 100px;
	}

	p.moreclarity {
		padding-left: 188px;
		font-size: 20px;
	}


	.section-4{
		background: none;
	}

	.gradient{
		margin-left: -300px;
	}

	.gradient-img{
		width: 400px;
	}

	.section-4{
		margin-left: 1px;
		width: 200px;
		text-align: center;
	}

	.row1 {
		position: relative;
		left: 39%;
		width: 262px;
		text-align: left;
		margin-top: -50px;
	}

	.row2 {
		width: 288px;
		position: relative;
		left: 39%;
	}

	.row3{
		position: relative;
			left: 39%;
		width: 536px;
		text-align: left;
	}

	.row1 .row1-text {
		margin-left: 54px;
		margin-top: -74px;
	}

	.row3 .row3-text {
		margin-left: 67px;
		margin-top: -68px;
		margin-right: 255px;
	}

	.row1-img {
		height: 38px;
		width: 44px;
		padding-top: 6px;
	}

	.row2-img {
		height: 37px;
		width: 40px;
		margin-top: -32px;
	}

	.row3-img {
		height: 37px;
		width: 62px;
	}


	.text-clarity-point{
		font-size: 12px;
		line-height: 25px;
	}

	.col-md-8.col-md-offset-2.text-right {
		text-align: center;
		padding-right: -73px;
		margin-right: 23px;
	}

	.section-4 p {
		font-size: 31px;
		position: relative;
		left: 59%;
		margin-top: -150px;
	}

	/* SECTION 5 */
	.thumbnailmainheading{
		line-height: 37px;
		font-size: 24px;
	}

	/*sec:6*/
	#video-email1 input::placeholder {
		color: red;
	}
	div.div-text {
		padding-bottom: 0;
	}
	.video-section-form {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.wtext1, .wtext2 {
		line-height: 1.5;
		letter-spacing: 1.5px;
	}
	.wtext1 {
		color: #FFFFFF;
		margin-top: -38%;
		font-size: 24px;
		font-weight: 300;
		font-family: 'Open Sans', sans-serif;
	}
	.wtext2{
		font-size: 12px;
		line-height: 1.5;
	}
	h5.text-uppercase.fottersize {
		font-size: 12px;
		padding: 6px 0;
	}
	.bg-ground .btn{
		font-size: 20px;
		height: 50px;
		width: auto;
	}
	.section-4 button.stripe-button-el{
		color: #FFFFFF;
		font-family: 'Arimo', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 28px;
		text-align: center;
		height: 76px;
		width: auto;
		border-radius: 60px;
		background: #D81B60;
		box-shadow: 0 2px 26px 0 rgba(0,0,0,0.14);
		margin-top: 61px;
		outline: none;
	}

	.section-4 button.stripe-button-e span{
		font-size: 20px;
	}
	.fottrtext{
		margin-top: 0px;
	}

}
